<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="child"><p>Thanks! To proceed, please press the 'Submit' button below.</p></div>
		<form action = "{{ submitLink }}" method="POST">
			<input type="hidden" name="assignmentId" value="{{ assignmentId }}">
			<input type="hidden" name="battery" value="{{ battery }}">
			<input class="button goButton" type="submit" value="Submit">
		</form>
	</body>
</html>